<h1>Summary</h1>
<div class="border px-4 py-2 rounded">
  <table class="table mb-0">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Product Code</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </thead>
    <tbody>
      <% current_cart.line_items.each_with_index do |line_item, index| %>
        <tr>
          <td class="border-0"><%= line_item.product.name %></td>
          <td class="border-0"><%= line_item.product.product_code %></td>
          <td class="border-0"><%= line_item.quantity %></td>
          <td class="border-0"><%= line_item.price %> €</td>
        </tr>
      <% end %>
      <tr>
        <td class="border-0"></td>
        <td class="border-0"></td>
        <td class="border-0">Total Price:</td>
        <td class="border-0"><%= current_cart.total_price %> €</td>
      </tr>
    </tbody>
  </table>
</div>
<div class=" my-5 text-end">
  <%= link_to "Pay", "#", class: "btn btn-primary fw-bold py-2 px-5" %>
</div>
